test:
  script:
  - apt-get update -qy
  - apt-get install -y python3-dev python3-pip
  - pip3 install -r requirements.txt
  - pip3 install pytest
  - pip3 install pytest-cov
  - python3 -m pytest --cov=detect